<div style="text-align: center">
        <!-- Note: Only use three share links if your site width is set to large -->
        <!-- If site width is set to normal, you may choose any two share links -->

        <!-- comment sharer buttons
        <label class="social" title="share this post on mastodon" for="mastodon-share2">
            <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mastodon"></use>
            </svg> <span class="icon-twitter">toot it!</span>
        </label>
        <input name="popup" id="mastodon-share2" class="hidden" type="radio">
        <span class="popup">
            <label for="overlay"></label>
            <input name="podurl" value="" placeholder="Mastodon URL (mastodon.social)" type="text">
            <button class="share-btn" type="submit" value="mastodon">OK</button>
        </span>
        
        <a class="social" href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">
            <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reddit"></use>
            </svg> <span class="icon-twitter">share it!</span> </a>
            
        <a class="social" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }} - &quot;{{ page.title }}&quot; by @{{ site.           authors[page.author].twitter }}" target="_blank">
            <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
            </svg> <span class="icon-twitter">tweet it!</span> </a>
        -->

        <a style="font-size: 16px; font-weight: bold;"
            href="{{ site.url }}/sharer/?text={{ site.url }}{{ page.url }} - &quot;{{ page.title }}&quot; by @{{ site.         authors[page.author].twitter }}&amp;url={{ site.url }}{{ page.url }}">
            [ thanks for <span style="font-size: 24px">sharing</span><br>this post on your social networks! ]
        </a>

</div>
